<a href="https://colab.research.google.com/github/Thanishka3/zetz1/blob/main/Removing_Duplicates_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
data={
    'Age':[25,None,30,35,None,4.5],
    'Height':[5.5,6.1,5.9,None,5.8,5.2],
    'HelmetStatus':[1,None,1,0,1,1],
    'Gender':['M','F','M',None,'F','M'],
    'Experience':[2,4,6,1,None,None]
}
df=pd.DataFrame(data)
print("Original Dataframe with Missing Values:")
print(df)
df_filled_mean=df.copy()
df_filled_median=df.copy()
df_filled_mode=df.copy()
df_filled_mean['Age'].fillna(df['Age'].mean(),inplace=True)
df_filled_mean['Height'].fillna(df['Height'].mean(),inplace=True)
df_filled_mean['Experience'].fillna(df['Experience'].mean(),inplace=True)
df_filled_median['Age'].fillna(df['Age'].median(),inplace=True)
df_filled_median['Height'].fillna(df['Height'].median(),inplace=True)
df_filled_median['Experience'].fillna(df['Experience'].median(),inplace=True)
df_filled_mode['Gender'].fillna(df['Gender'].mode(),inplace=True)
df_filled_mode['HelmetStatus'].fillna(df['HelmetStatus'].mode(),inplace=True)
print("\nDataFrame After Replacing Missing Values with mean:")
print(df_filled_mean)
print("\ndataFrame After Replacing Missing Values with Median:")
print(df_filled_median)
print("\nDataFrame After Replacing Missing values with Modde:")
print(df_filled_mode)

Original Dataframe with Missing Values:
    Age  Height  HelmetStatus Gender  Experience
0  25.0     5.5           1.0      M         2.0
1   NaN     6.1           NaN      F         4.0
2  30.0     5.9           1.0      M         6.0
3  35.0     NaN           0.0   None         1.0
4   NaN     5.8           1.0      F         NaN
5   4.5     5.2           1.0      M         NaN

DataFrame After Replacing Missing Values with mean:
      Age  Height  HelmetStatus Gender  Experience
0  25.000     5.5           1.0      M        2.00
1  23.625     6.1           NaN      F        4.00
2  30.000     5.9           1.0      M        6.00
3  35.000     5.7           0.0   None        1.00
4  23.625     5.8           1.0      F        3.25
5   4.500     5.2           1.0      M        3.25

dataFrame After Replacing Missing Values with Median:
    Age  Height  HelmetStatus Gender  Experience
0  25.0     5.5           1.0      M         2.0
1  27.5     6.1           NaN      F         4.0
2  30.0     5.9           1.0      M         6.0
3  35.0     5.8           0.0   None         1.0
4  27.5     5.8           1.0      F         3.0
5   4.5     5.2           1.0      M         3.0

DataFrame After Replacing Missing values with Modde:
    Age  Height  HelmetStatus Gender  Experience
0  25.0     5.5           1.0      M         2.0
1   NaN     6.1           NaN      F         4.0
2  30.0     5.9           1.0      M         6.0
3  35.0     NaN           0.0    NaN         1.0
4   NaN     5.8           1.0      F         NaN
5   4.5     5.2           1.0      M         NaN

<ipython-input-6-627dd6b23572>:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled_mean['Age'].fillna(df['Age'].mean(),inplace=True)
<ipython-input-6-627dd6b23572>:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled_mean['Height'].fillna(df['Height'].mean(),inplace=True)
<ipython-input-6-627dd6b23572>:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled_mean['Experience'].fillna(df['Experience'].mean(),inplace=True)
<ipython-input-6-627dd6b23572>:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled_median['Age'].fillna(df['Age'].median(),inplace=True)
<ipython-input-6-627dd6b23572>:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled_median['Height'].fillna(df['Height'].median(),inplace=True)
<ipython-input-6-627dd6b23572>:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled_median['Experience'].fillna(df['Experience'].median(),inplace=True)
<ipython-input-6-627dd6b23572>:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled_mode['Gender'].fillna(df['Gender'].mode(),inplace=True)
<ipython-input-6-627dd6b23572>:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled_mode['HelmetStatus'].fillna(df['HelmetStatus'].mode(),inplace=True)

In [8]:
import pandas as pd
data={
    'Name':['Alice','Bob','Alice','Charlie','Bob'],
    'Age':[25,30,25,35,30],
    'City':['Hyderabad','LosAngels','Hyderabad','Chicago','LosAngels']
}
df=pd.DataFrame(data)
print("Original DataFrame:")
print(df)
duplicates=df[df.duplicated()]
print("\nIdentified Duplicates:")
print(duplicates)

Original DataFrame:
      Name  Age       City
0    Alice   25  Hyderabad
1      Bob   30  LosAngels
2    Alice   25  Hyderabad
3  Charlie   35    Chicago
4      Bob   30  LosAngels

Identified Duplicates:
    Name  Age       City
2  Alice   25  Hyderabad
4    Bob   30  LosAngels